USE [master]
GO
/****** Object:  Database [StudentData]    Script Date: 2022/11/21 15:56:53 ******/
CREATE DATABASE [StudentData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\StudentData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER02\MSSQL\DATA\StudentData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentData]
GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 2022/11/21 15:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULE](
	[MODULE_ID] [int] IDENTITY(1,1) NOT NULL,
	[MODULE_CODE] [varchar](50) NULL,
	[MODULE_NAME] [varchar](150) NULL,
	[MODULE_CREDITS] [decimal](18, 0) NULL,
	[CLASS_HOURS_PER_WEEK] [decimal](18, 0) NULL,
	[STUDENT_USERNAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MODULE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 2022/11/21 15:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[SEMESTER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEMESTER_WEEKS] [int] NULL,
	[SEMESTER_START_DATE] [date] NULL,
	[SEMESTER_END_DATE] [date] NULL,
	[STUDENT_USERNAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SEMESTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2022/11/21 15:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENT_USERNAME] [varchar](255) NOT NULL,
	[STUDENT_PASSWORD] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STUDENT_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDY]    Script Date: 2022/11/21 15:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDY](
	[STUDY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SELF_STUDY_HOURS_PER_WEEK] [decimal](18, 0) NULL,
	[SELECTED_DATE] [date] NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[HOURS_STUDIED] [decimal](18, 0) NULL,
	[STUDY_HOURS_REMAINDING] [decimal](18, 0) NULL,
	[CURRENT_WEEK] [int] NULL,
	[MODULE_CODE] [varchar](50) NULL,
	[STUDENT_USERNAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STUDY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MODULE]  WITH CHECK ADD FOREIGN KEY([STUDENT_USERNAME])
REFERENCES [dbo].[STUDENT] ([STUDENT_USERNAME])
GO
ALTER TABLE [dbo].[SEMESTER]  WITH CHECK ADD FOREIGN KEY([STUDENT_USERNAME])
REFERENCES [dbo].[STUDENT] ([STUDENT_USERNAME])
GO
ALTER TABLE [dbo].[STUDY]  WITH CHECK ADD FOREIGN KEY([STUDENT_USERNAME])
REFERENCES [dbo].[STUDENT] ([STUDENT_USERNAME])
GO
USE [master]
GO
