<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.3.0.58" targetFramework="net48" />
  <package id="Syncfusion.SfChart.WPF" version="20.3.0.58" targetFramework="net48" />
</packages>